# Ignorar entorno virtual
venv/

# Ignorar archivos de Python compilados
*.pyc
*.pyo
__pycache__/

# Ignorar archivos de configuración IDE/Editor (por ejemplo, VSCode, PyCharm, etc.)
.vscode/
.idea/

# Ignorar archivos de logs
*.log

# Ignorar el archivo de configuración de Python (si tienes)
*.env

# Ignorar el archivo de base de datos (si usas SQLite, por ejemplo)
*.db
